{% extends 'frontpage.twig' %}
{% block stylesheets %}
<link rel='stylesheet' type='text/css' href='//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.6.1/fullcalendar.min.css'>
<link rel='stylesheet' type='text/css' href='//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.6.1/fullcalendar.print.css' media='print'>
{% endblock %}
{% block content %}
<div id="tasks">
    <div class="page-header">
        <h1>Tasks <small>System task</small></h1>
    </div>
    <div class="row">
        <div class="col-md-12">
           <div id="calendar"></div> 
           <div id="taskdialog" title="Task" style="display:none"></div>
        </div>
    </div>
</div>
<ul class="nav pull-right scroll-top">
    <li>
        <a title="Scroll to top" onclick=" window.scrollTo(0,0)">
            <i class="glyphicon glyphicon-chevron-up"></i>
        </a>
    </li>
</ul>
{% endblock %}
{% block javascript %}
<script type='text/javascript' src='js/moment.min.js'></script>
<script type='text/javascript' src='js/moment-duration-format.js'></script>
<script type='text/javascript' src='js/jquery-ui.custom.min.js'></script>
<script src='//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.6.1/fullcalendar.min.js'></script>
<script type='text/javascript' src='js/calendarController.js'></script>
{% endblock %}