{% extends 'frontpage.twig' %}
{% block content %}
<div id="users">
    <div class="page-header">
        <h1>Grid <small>System users</small></h1>
    </div>
    <div class="row">
        <div class="col-md-12">
           <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead id="userstablethead"></thead>
                    <tbody id="userstable"></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<ul class="nav pull-right scroll-top">
    <li>
        <a title="Scroll to top" onclick=" window.scrollTo(0,0)">
            <i class="glyphicon glyphicon-chevron-up"></i>
        </a>
    </li>
</ul>
{% endblock %}
{% block javascript %}
<script type='text/javascript' src='js/userController.js'></script>
{% endblock %}